.trash-container {
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

.trash-container > .fas {
  display: none;
}

.trash-container:hover > .fas {
  display: inline-block;
}

.trash-container:hover > .far {
  display: none;
}

.social-container .fab {
  transition-duration: 0.4s;
}

.social-container .fab:hover {
  color: #ff6c00;
}
