@media (max-width: 992px) {
  #foot-bar {
    padding-bottom: calc(80px + 1rem) !important;
  }
}

#foot-bar .foot-img {
  max-height: 40px;
}

#foot-bar a {
  color: #6b7280;
  text-decoration: none;
}

#foot-bar a:hover {
  color: #1890ff;
}
