#plan-card-sm {
  transition-duration: 0.4s;
  left: 0; z-index: 10;
}

#plan-summary .circle-icon {
  width: 32px;
  height: 32px;
}

#plan-summary .circle-icon .fas {
  vertical-align: -2px;
}

#plan-detail .plan-img {
  width: auto;
  max-height: 128px;
}
