#plan-card-sm {
  bottom: 0; left: 0;
  z-index: 10;
}

#plan-summary {
  z-index: 5;
}

#plan-summary .circle-icon {
  width: 32px;
  height: 32px;
}

#plan-summary .circle-icon .fas {
  vertical-align: -2px;
}

#plan-detail {
  transition-duration: 0.4s;
  left: 0; bottom: -900vh;
}

#plan-detail .plan-img {
  width: auto;
  max-height: 128px;
}
