<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>enScribe | UX Research</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css?version=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <link rel="stylesheet" href="./assets/css/main.css?version=1">
    <link rel="stylesheet" href="./assets/css/head-bar.css?version=1">
    <link rel="stylesheet" href="./assets/css/foot-bar.css?version=1">
    <link rel="stylesheet" href="./assets/css/accordion-card.css?version=1">
    <link rel="stylesheet" href="./assets/css/plan-card.css?version=1">
    <link rel="stylesheet" href="./assets/css/plan-card-sm.css?version=1">
    <link rel="stylesheet" href="./assets/css/credit-card.css?version=1">
    <link rel="stylesheet" href="./assets/css/credit-card-adder.css?version=1">
    <link rel="stylesheet" href="./assets/css/checkout-01.css?version=1">
  </head>
  <body>
    <div id="app" class="position-relative">
      <head-bar></head-bar>
      <div id="wrapper" class="container py-4">
        <div class="row">
          <div class="col">
            <div id="accordion" class="accordion shadow">

              <accordion-card step="1" id="customer" title="บัญชี้ผู้ใช้" :current-step="step">
                <template v-if="customerDisplay === 'guest'">
                  <span class="h7">
                    กรุณาระบุ Email ของท่านเพื่อการใช้งานในอนาคต
                  </span>
                  <div class="row align-items-end mt-3">
                    <div class="col-12 col-sm mb-3">
                      <label class="h7">Email</label>
                      <input type="text" class="form-control">
                      <div class="invalid-feedback">Please provide a valid email address.</div>
                    </div>
                    <div class="col-auto mb-3 mx-auto">
                      <button type="button" class="btn bg-atomic-tangerine text-white"
                              @click="addStep(1)">
                        ซื้อสินค้าด้วย Email นี้
                      </button>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-12 col-sm-auto mr-auto text-center text-sm-left">
                      <span class="h7">
                        คุณมีบัญชีอยู่แล้ว?
                        <a class="text-primary cursor-pointer"
                           @click="customerDisplay = 'login'">
                          ลงชื่อเข้าใช้ตอนนี้
                        </a>
                      </span>
                    </div>
                    <div class="col-12 col-sm-auto social-container mt-3 mt-sm-0 text-center">
                      <span class="h7 align-middle">หรือดำเนินการต่อด้วย</span>
                      <i class="fab fa-google fa-2x align-middle cursor-pointer ml-2"
                         data-toggle="modal" data-target="#social-guest-modal"></i>
                      <i class="fab fa-facebook-square fa-2x align-middle cursor-pointer ml-2"
                         data-toggle="modal" data-target="#social-guest-modal"></i>
                    </div>
                  </div>
                  <div id="social-guest-modal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-body">
                          <button type="button" class="d-block btn bg-atomic-tangerine text-white mx-auto"
                                  data-dismiss="modal" @click="addStep(1)">
                            ดำเนินต่อไปด้วย Social authenticator
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                <template v-if="customerDisplay === 'login'">
                  <span class="h7">
                    ต้องการสร้างบัญชีใหม่?
                    <a class="text-primary cursor-pointer"
                       @click="customerDisplay = 'create'">
                      สร้างบัญชี
                    </a>
                    ของคุณเพื่อดำเนินการต่อ
                  </span>
                  <div class="row align-items-end my-3">
                    <div class="col-12">
                      <label class="h7">Email</label>
                      <input type="text" class="form-control">
                      <div class="invalid-feedback">Please provide a valid email address.</div>
                    </div>
                    <div class="col-12">
                      <label class="h7">รหัสผ่าน</label>
                      <input type="password" class="form-control">
                      <div class="invalid-feedback">Please provide a valid password.</div>
                    </div>
                    <div class="col-12">
                      <a class="h7 text-primary cursor-pointer">ลืมรหัสผ่าน?</a>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6 col-sm-auto">
                      <button type="button" class="d-block d-sm-inline-block w-100 btn bg-atomic-tangerine text-white"
                              @click="addStep(1)">
                        ลงชื่อใช้งาน
                      </button>
                    </div>
                    <div class="col-6 col-sm-auto pl-0 mr-auto">
                      <button type="button" class="d-block d-sm-inline-block w-100 btn btn-outline-secondary"
                              @click="customerDisplay = 'guest'">
                        ยกเลิก
                      </button>
                    </div>
                    <div class="col-12 col-sm-auto social-container mt-3 mt-sm-0 text-center">
                      <span class="align-middle">หรือลงชื่อเข้าใข้ด้วย</span>
                      <i class="fab fa-google fa-2x align-middle cursor-pointer ml-2"
                         data-toggle="modal" data-target="#social-sign-modal"></i>
                      <i class="fab fa-facebook-square fa-2x align-middle cursor-pointer ml-2"
                         data-toggle="modal" data-target="#social-sign-modal"></i>
                    </div>
                  </div>
                  <div id="social-sign-modal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-body">
                          <button type="button" class="d-block btn bg-atomic-tangerine text-white mx-auto"
                                  data-dismiss="modal" @click="addStep(1)">
                            ลงชื่อใช้งานด้วย Social authenticator
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                <template v-if="customerDisplay === 'create'">
                  <div class="row align-items-end mb-3">
                    <div class="col-12 col-sm-6">
                      <label class="h7">ชื่อ</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-12 col-sm-6">
                      <label class="h7">นามสกุล</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                      <label class="h7">Email</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="col-12">
                      <label class="h7">รหัสผ่าน</label>
                      <input type="password" class="form-control">
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-6 col-sm-auto">
                      <button type="button" class="d-block d-sm-inline-block w-100 btn bg-atomic-tangerine text-white"
                              @click="addStep(1)">
                        สร้างบัญชี
                      </button>
                    </div>
                    <div class="col-6 col-sm-auto pl-0 mr-auto">
                      <button type="button" class="d-block d-sm-inline-block w-100 btn btn-outline-secondary"
                              @click="customerDisplay = 'login'">
                        ยกเลิก
                      </button>
                    </div>
                    <div class="col-12 col-sm-auto social-container mt-3 mt-sm-0 text-center">
                      <span class="align-middle">หรือสร้างบัญชีด้วย</span>
                      <i class="fab fa-google fa-2x align-middle cursor-pointer ml-2"
                         data-toggle="modal" data-target="#social-create-modal"></i>
                      <i class="fab fa-facebook-square fa-2x align-middle cursor-pointer ml-2"
                         data-toggle="modal" data-target="#social-create-modal"></i>
                    </div>
                  </div>
                  <div id="social-create-modal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-body">
                          <button type="button" class="d-block btn bg-atomic-tangerine text-white mx-auto"
                                  data-dismiss="modal" @click="addStep(1)">
                            สร้างบัญชีด้วย Social authenticator
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
              </accordion-card>

              <accordion-card step="2" id="variant" title="ตัวเลือกสินค้า" :current-step="step">
                <variant-selector @next="addStep(2)"></variant-selector>
              </accordion-card>

              <accordion-card step="3" id="shipping" title="การจัดส่งสินค้า" :current-step="step">
                <div class="row">
                  <div v-for="input in shippingInputs" class="col-12 col-sm-6 mb-2">
                    <label class="h7">
                      {{ input.label }}
                      <span v-if="input.required" class="text-danger">*</span>
                    </label>
                    <template v-if="input.type === 'text'">
                      <input type="text" class="form-control">
                    </template>
                    <template v-if="input.type === 'select'">
                      <select class="form-control">
                        <option>ประเทศไทย</option>
                      </select>
                    </template>
                  </div>
                </div>
                <button type="button" class="d-block d-sm-none w-100 btn bg-atomic-tangerine text-white mt-2 mx-auto"
                        @click="addStep(3)">
                  ถัดไป
                </button>
                <button type="button" class="d-none d-sm-block btn bg-atomic-tangerine text-white mt-2 mx-auto"
                        @click="addStep(3)">
                  ถัดไป
                </button>
              </accordion-card>

              <accordion-card step="4" id="payment" title="ชำระเงิน" :current-step="step">
                <credit-card v-for="(card, index) in creditCards"
                             :key="index"
                             :index="index"
                             :brand="card.brand"
                             :last-four-digits="card.lastFourDigits"
                             :expire="card.expire"></credit-card>
                <credit-card-adder></credit-card-adder>
                <button type="button" class="d-block d-sm-none w-100 btn bg-atomic-tangerine text-white mt-2 mx-auto"
                        @click="addStep(4)">
                  ชำระ {{ plan.total }} {{ plan.frequency }}
                </button>
                <button type="button" class="d-none d-sm-block btn bg-atomic-tangerine text-white mt-2 mx-auto"
                        @click="addStep(4)">
                  ชำระ {{ plan.total }} {{ plan.frequency }}
                </button>
              </accordion-card>

            </div>
          </div>
          <div class="col-auto d-none d-lg-block">
            <plan-card :plan-name="plan.planName"
                       :plan-description="plan.planDescription"
                       :frequency="plan.frequency"
                       :duration="plan.duration"
                       :product-list="plan.productList"
                       :total="plan.total"></plan-card>
          </div>
        </div>
      </div>
      <foot-bar></foot-bar>
      <plan-card-sm :plan-name="plan.planName"
                    :plan-description="plan.planDescription"
                    :frequency="plan.frequency"
                    :duration="plan.duration"
                    :product-list="plan.productList"
                    :total="plan.total"></plan-card-sm>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js?version=1"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js?version=1"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js?version=1"></script>
  <script src="https://kit.fontawesome.com/77a685d805.js?version=1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js?version=1"></script>
  <script src="https://unpkg.com/vuelidate@0.7.6/dist/vuelidate.min.js?version=1"></script>
  <script src="https://unpkg.com/vuelidate@0.7.6/dist/validators.min.js?version=1"></script>
  <script src="./components/head-bar.js?version=1"></script>
  <script src="./components/foot-bar.js?version=1"></script>
  <script src="./components/accordion-card.js?version=1"></script>
  <script src="./components/plan-card.js?version=1"></script>
  <script src="./components/plan-card-sm.js?version=1"></script>
  <script src="./components/variant-selector.js?version=1"></script>
  <script src="./components/credit-card.js?version=1"></script>
  <script src="./components/credit-card-adder.js?version=1"></script>
  <script>
    Vue.use(window.vuelidate.default)
    const { required, minLength } = window.validators
    new Vue({
      el: '#app',
      validations: {
        form: {
          required,
          minLength: minLength(5)
        }
      },
      data: {
        step: 0,
        customerDisplay: 'guest',
        plan: {
          planName: 'Double Premium',
          planDescription: 'เพียง subscribe รายปี (12 เดือน) กับ Justino วันนี้' +
            'สินค้าก็จะมาอยู่หน้าบ้านของคุณในราคาที่ประหยัดลดสูงสุดถึง 12% จากราคาปกติ',
          frequency: 'ทุกเดือน',
          duration: '12 เดือน',
          productList: [
            { name: 'อาหารแมวแบบเม็ด (4 กก.) x1', price: '฿700' },
            { name: 'โปรตีนเสริมสำหรับแมว x1', price: '฿300' },
          ],
          total: '฿1,000',
        },
        form: {
          customer: {

          },
          variant: {

          },
          shipping: {
            firstName: null,
            lastName: null,
            title: null,
            address: null,
            subdistrict: null,
            district: null,
            province: null,
            zipCode: null,
            country: 'ประเทศไทย',
            phoneNo: null,
          },
          payment: {

          }
        },
        shippingInputs: [
          { key: 'firstName', label: 'ชื่อ', type: 'text', required: true },
          { key: 'lastName', label: 'นามสกุล', type: 'text', required: true },
          { key: 'title', label: 'คำนำหน้า', type: 'text', required: false },
          { key: 'address', label: 'ที่อยู่', type: 'text', required: true },
          { key: 'subdistrict', label: 'ตำบล/แขวง', type: 'text', required: true },
          { key: 'district', label: 'อำเภอ/เขต', type: 'text', required: true },
          { key: 'province', label: 'จังหวัด', type: 'text', required: true },
          { key: 'zipCode', label: 'รหัสไปรษณีย์', type: 'text', required: true },
          { key: 'country', label: 'ประเทศ', type: 'select', required: true },
          { key: 'phoneNo', label: 'โทรศัพท์มือถือ', type: 'text', required: true },
        ],
        creditCards: [
          { brand: 'visa', lastFourDigits: '4 2 4 2', expire: '5/2022' },
          { brand: 'mastercard', lastFourDigits: '7 4 7 4', expire: '7/2024' },
        ]
      },
      methods: {
        addStep(fromStep) {
          if (this.step < fromStep) this.step++;
          switch (fromStep) {
            case 1: {
              $('#variant').collapse('show');
              break;
            }
            case 2: {
              $('#shipping').collapse('show');
              break;
            }
            case 3: {
              $('#payment').collapse('show');
              break;
            }
            case 4: {
              window.location = './success.html';
              break;
            }
          }
        },
        toggleAccordion() {

        },
      },
    });
  </script>
</html>